<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Authentification</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="../static/css/style.css"
          th:href="@{/css/style.css}"
    />
</head>
<body>
<div class="col-md-6 col-md-offset-3 spacer">
    <div class="panel panel-primary">
        <div class="panel-heading">Authentification</div>
        <div class="panel-body">
            <div th:if="${param.error}" class="red">
                Incorrect username or password
            </div>
            <div th:if="${param.logout}" class="red">
                You have been log out
            </div>
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label>Username :</label>
                    <input class="form-control" type="text" name="username"/>
                </div>
                <div class="form-group">
                    <label>Password :</label>
                    <input class="form-control" type="password" name="password"/>
                </div>
                <button class="btn btn-block btn-success" type="submit">Se Connecter</button>
            </form>
            <hr/>
            <div>
                <a class="btn-default btn" th:href="@{/createAccount}">Create Nouveau Compte</a>
            </div>
        </div>
    </div>
</div>
</body>
